In [5]:
np.isnan(X)

array([[False, False],
       [False, False],
       [False, False]], dtype=bool)

# Programming Assignment: важность признаков (решающие деревья)

In [178]:
import pandas as pd
import numpy as np
from sklearn.tree import DecisionTreeClassifier

data = pd.read_csv('titanic.csv', index_col = 'PassengerId')
data_for_preprocess = data[['Survived', 'Pclass', 'Sex', 'Age', 'Fare']]
data_for_preprocess = data_for_preprocess.replace( ['male', 'female'], [1, 0] )
print data_for_preprocess[:6]

             Survived  Pclass  Sex   Age     Fare
PassengerId
1                   0       3    1  22.0   7.2500
2                   1       1    0  38.0  71.2833
3                   1       3    0  26.0   7.9250
4                   1       1    0  35.0  53.1000
5                   0       3    1  35.0   8.0500
6                   0       3    1   NaN   8.4583

In [179]:
# Сумма пропущенных данных по столбцам всего датасета

# Первый вариант
data_for_preprocess.isnull().sum()

# Второй вариант
np.isnan(data_for_preprocess).sum()

Survived      0
Pclass        0
Sex           0
Age         177
Fare          0
dtype: int64

In [180]:
# Вывод всех строк, где Age пропущенны

# First
data_for_preprocess[data_for_preprocess['Age'].isnull()][:6]
# Second
data_for_preprocess[np.isnan(data_for_preprocess['Age'])][:6]

             Survived  Pclass  Sex  Age     Fare
PassengerId
6                   0       3    1  NaN   8.4583
18                  1       2    1  NaN  13.0000
20                  1       3    0  NaN   7.2250
27                  0       3    1  NaN   7.2250
29                  1       3    0  NaN   7.8792
30                  0       3    1  NaN   7.8958

In [181]:
data_for_preprocess_no_missing = data_for_preprocess.dropna()
data_for_preprocess_no_missing.isnull().sum()

Survived    0
Pclass      0
Sex         0
Age         0
Fare        0
dtype: int64

In [182]:
features = data_for_preprocess_no_missing[['Pclass', 'Sex', 'Age', 'Fare']]
y = data_for_preprocess_no_missing['Survived']

print features[:6]
print len( features.index )

print y[:6]
print len( y.index )

             Pclass  Sex   Age     Fare
PassengerId
1                 3    1  22.0   7.2500
2                 1    0  38.0  71.2833
3                 3    0  26.0   7.9250
4                 1    0  35.0  53.1000
5                 3    1  35.0   8.0500
7                 1    1  54.0  51.8625
714
PassengerId
1    0
2    1
3    1
4    1
5    0
7    0
Name: Survived, dtype: int64
714

In [183]:
clf = DecisionTreeClassifier(random_state=241)
clf.fit(features, y)

importances = clf.feature_importances_
importances

array([ 0.14000522,  0.30051221,  0.2560461 ,  0.30343647])

In [184]:
zip( features.columns, importances )

[('Pclass', 0.14000521853124187),
 ('Sex', 0.30051221095823938),
 ('Age', 0.25604610097906622),
 ('Fare', 0.30343646953145248)]

In [185]:
feats = {}
for feature, importance in zip (features.columns, importances):
    feats[feature] = importance
    
importances = pd.DataFrame.from_dict ( feats, orient='index' ).rename( columns={0: 'Gini-importance'})
i = importances.sort_values(  by='Gini-importance' )
i

        Gini-importance
Pclass         0.140005
Age            0.256046
Sex            0.300512
Fare           0.303436

In [186]:
feature_names = features.columns
importances = clf.feature_importances_
indices = np.argsort (importances)[::-1]

print("Feature importances:")
for f, idx in enumerate(indices):
    print("{:2d}. feature '{:5s}' {:.4f}").format(f+1, feature_names[idx], importances[idx])

Feature importances:
 1. feature 'Fare ' 0.3034
 2. feature 'Sex  ' 0.3005
 3. feature 'Age  ' 0.2560
 4. feature 'Pclass' 0.1400